body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-pane {
    background: #3e3c44;
}

.pane {
    height: 50vh;
    display: flex;
}

.editor-container {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background: #3e3c44;
}

.editor-title {
    display: flex;
    justify-content: space-between;
    background: #201f23;
    color: white;
    flex-direction: row;
    padding: .5rem .5rem .5rem 1rem;
    border-radius: .5rem .5rem 0 0;
}

.CodeMirror {
    border-radius: 0 0 .5rem .5rem;
}
